<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">SCRP</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul id="tabs" class="nav navbar-nav">
        <li class="active"><a href="{{"/" if page != "/" else ""}}#home" data-toggle="tab">Home</a></li>
        <li><a href="{{"/" if page != "/" else ""}}#events" data-toggle="tab">Events</a></li>
        <li><a href="{{"/" if page != "/" else ""}}#whatdowedo" data-toggle="tab">What do we do?</a></li>
        <li><a href="{{"/" if page != "/" else ""}}#info" data-toggle="tab">Our Info</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_logged %}
          <li><a href="/sign-up">Sign in</a></li>
        {% else %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.nickname }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">My Events</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Sign out</a></li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>