
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ head }}
  </head>

  <body>
    {{ header }}
    <div class="tab-content">
      <div class="tab-pane active" id="home">{{ home }}</div>
      <div class="tab-pane" id="events">{{ events }}</div>
      <div class="tab-pane" id="whatdowedo">{{ whatdowedo }}</div>
      <div class="tab-pane" id="info">{{ info }}</div>
    </div><!-- /.container -->
    {{ js }}
    <script type="text/javascript">
      function clear(){        
        $(".tab-pane").each(function(){
          $(this).removeClass("active");
        })
      }
      function updateByHash(){
        var hash = window.location.hash;
        if (hash==""){
          $('#tabs a[href="#home"]').tab("show");
          return
        }
        if ($(hash).hasClass("active")){
          return;
        } 
        clear();
        $(hash).addClass("active");
        $('#tabs a[href="{0}"]'.format(hash)).tab("show");
      }
      $('a[data-toggle="tab"]').on('shown.bs.tab', 
        function (e) {
          window.location.hash=$(e.target).attr('href');
        }
      );
      $(window).bind('hashchange', updateByHash);
      $("document").ready(function(){
        updateByHash();
        }
      );
    </script>
  </body>
</html>
