<html>
	<head>
		{{ head }}
	</head>
	<body>
		<!--
		{{ header }} 
		<!-- -->

		<style type="text/css">
		body{
			padding: 0px 0px;/*remove*/
		}
		.content{
			/*margin-top: 40px;*//*remove*/
		}
		</style>

		<div class="panel panel-default content">
			<div class="panel-body">
				<center>
				<img src="/images/mentors-form.png" class="img-responsive" alt="Responsive image">
				</center>
				<div>
				<h3> I am looking to partipate as:</h3>
		 		</div>
		 		<div class="btn-group col-sm-offset-3 col-sm-9" data-toggle="buttons-radio" style='margin-bottom:15px;'>
				  <button type="button" class="btn btn-default active" onclick="select(this)" id='Mentor'>Mentor</button>
				  <button type="button" class="btn btn-default" onclick="return false;//select(this)" disabled id='Mentee'>Mentee</button>
				</div>

				<div class="tab-content" >
					<div class="tab-pane active" id="mentor"> {{ mentor }} </div>
					<div class="tab-pane active" id="mentee"> {{ mentee}} </div>
				</div>
			</div>
		</div>
 		<!-- my code has ended -->
		{{ js }}
		<script src="/js/sign-up.js"></script>
	</body>
</html>