<html>
	<head>
		{{ head }}
	</head>
	<body>
		{{ header }}
		<style type="text/css">
		.content{
			margin-top: 40px;
		}
		</style>
 		<!-- my code goes here-->
		<div class="panel panel-default content">
			<div class="panel-body">
				<div>
				<h3> I am looking to partipate as:</h3>
		 		</div>
		 		<div class="btn-group col-sm-offset-3 col-sm-9" data-toggle="buttons-radio" style='margin-bottom:15px;'>
				  <button type="button" class="btn btn-default active" onclick="select(this)">Mentor</button>
				  <button type="button" class="btn btn-default" onclick="select(this)">Mentee</button>
				</div>

				<div class="tab-content" >
					<div class="tab-pane active" id="mentor"> {{ mentor }} </div>
					<div class="tab-pane" id="mentee"> {{ mentee}} </div>
				</div>
			</div>
		</div>
 		<!-- my code has ended -->
		{{ js }}
		<script type="text/javascript">
		document.select = function select(e){
			//clear tabs pane
			$(".tab-pane").each(function(){$(this).removeClass("active")})
			//selecting pane
			id = $(e).text().toLowerCase();
			id = "#{0}".format(id); 
			$(id).each(function(){
				$('input[name=personType]').val($(e).text());
				$(this).addClass("active")
			})

			//clear other button's selecction
			$(".btn-group button").each(function(){$(this).removeClass("active")})
		}
		</script>
	</body>
</html>